@mixin before_circle {
  &::before {
    position: absolute;
    top: -25%;
    left: 0px;
    content: "";
    width: 36px;
    height: 36px;
    background-color: $main-color;
    border-radius: 50%;
    z-index: -1;
  }
}
@mixin before_circle_top0 {
  &::before {
    position: absolute;
    top: 0;
    left: 0px;
    content: "";
    width: 36px;
    height: 36px;
    background-color: $main-color;
    border-radius: 50%;
    z-index: -1;
  }
}