.policy {
  
    &__title {
        text-align: center;
        font-size: 30px;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    &__para {
        margin-left: 200px;
        margin-right: 200px;
    }
}
