.exp {
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 120px;
    .divider {
        margin: 13px auto 0;
    }
    &__title {
        @include before_circle;
        position: relative;
        text-align: center;
        margin-left: 0;
        &:before {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        text-align: center;
    }
    &__wrapper {
        display: grid;
        justify-content: space-between;
        padding: 60px 49px 0 100px;
        grid-template-columns: repeat(2, 425px);
    }
    &__column {
        ul {
            list-style-type: none;
            li {
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    top: -8px;
                    left: 0;
                    width: 1px;
                    height: calc(100% + 4px);
                    background-color: #000;
                }
            }
        }
    }

    &__column-title {
        position: relative;
        padding-left: 43px;
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: -7px;
            width: 15px;
            height: 15px;
            transform: translateY(-50%);
            border-radius: 50%;
            background-color: $main-color;
        }
    }
    &__item {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            width: 44px;
            height: 1px;
            margin-top: 64px;
            background-color: #000;
        }
        &-head {
            position: relative;
            padding: 45px 0 0 100px;
        }
    }

    &__item-icon {
        @include before_circle;
        position: absolute;
        top: 61px;
        left: 61px;
        &:before {
            top: -14px;
            left: -17px;
        }

        img {
            height: 25px;
        }
    }
    &__item-subtitle {
        font-size: 12px;
        line-height: 20px;
    }
    &__body {
        padding: 12px 0 0 43px;
        font-size: 12px;
        line-height: 18px;
        a {
            color: #000000;
            &:hover {
                color: $main-color;
            }
        }
    }
}
.title {
    &_fz20 {
    }
    &_fz14 {
    }
}
