.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 21px 25px;
    background: $main-color;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    &_opacity {
        background: none;
        box-shadow: none;
    }
}
