@media (max-width: 1399px) {
  .container {
    max-width: 960px;
  }
  .sidepanal {
    display: none;
  }
  .exp {
    &__wrapper {
      padding: 60px 0px 0 17px;
      display: grid;
      grid-template-columns: repeat(2, 425px);
      justify-content: space-between;
    }
  }
  .contacts {
    &__wrapper {
      grid-template-columns: 370px 540px;
      padding: 0 0 0 0;
    }
    &__from {
      grid-template: 45px 153px 45px / repeat(2, 240px);
      gap: 27px 25px;
    }
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .review {
    &__grid {
      grid-template: minmax(243px, auto) minmax(250px, auto) / 375px 540px;
      gap: 46px 40px;
    }
    &__gridElem {
      &__info {
        display: grid;
        grid-template: repeat(2, minmax(110px, auto)) / repeat(2, 262px);
        grid-auto-rows: 1fr;
        gap: 26px 25px;
      }
    }
  }
  .exp {
    &__wrapper {
      padding: 60px 0px 0 50px;
      display: grid;
      grid-template-columns: repeat(2, 380px);
      justify-content: space-between;
    }
  }
  .skills {
    margin-top: 70px;
    &__skills {
      grid-template: repeat(2, minmax(270px, auto)) / repeat(auto-fit, 270px);
    }
    &__stats {
      grid-template: repeat(2, 70px) / repeat(2, 350px);
    }
    &__intor-1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    &__intor-2 {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
    &__intor-3 {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    &__intor-4 {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
    &__intor-5 {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
    &__intor-6 {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }
    .divider {
      margin: 15px auto 40px auto;
    }
    &__stats {
      margin-top: 70px;
    }
    .title_fz36 {
      font-size: 30px;
    }
    .title_fz18 {
      font-size: 16px;
    }
  }
  .portfolio {
    padding-top: 70px;
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 280px);
      grid-auto-rows: 280px;
      margin-top: 40px;
    }
    .item {
      &__portfolio {
        &-6,
        &-5,
        &-4,
        &-3,
        &-2,
        &-1 {
          grid-column: unset;
          grid-row: unset;
        }
      }
    }
    .title_fz36 {
      font-size: 30px;
    }
    .divider {
      margin: 15px auto 0;
    }
  }
  .price {
    &__wrapper {
      justify-content: space-around;
      grid-template-columns: repeat(auto-fit, 363px);
    }
  }
  .item__price {
    &1,
    &2,
    &3,
    &4,
    &5,
    &6 {
      grid-column: unset;
      grid-row: unset;
    }
  }
  .contacts {
    .title_fz18 {
      font-size: 16px;
    }
    .title_fz36 {
      font-size: 30px;
    }
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .promo {
    &__title {
      font-size: 41px;
      line-height: 45px;
    }
  }
  .review {
    padding-top: 75px;
    &__grid {
      grid-template: minmax(243px, auto) minmax(250px, auto) / 300px 380px;
      gap: 35px 40px;
    }
    .title_fz36 {
      font-size: 31px;
      line-height: 60px;
    }
    .title_fz18 {
      font-size: 16px;
    }
    &__decr_fz14 {
      font-weight: 500;
      line-height: 21px;
      font-size: 14px;
    }
    &__gridElem {
      grid-template-columns: 60px 318px;
      margin-bottom: 30px;
      &__about {
        .divider {
          margin-bottom: 14px;
        }
      }
      &__info {
        display: block;
      }
      &__design {
        margin-bottom: 30px;
      }
    }
  }
  .exp {
    padding-top: 75px;
    &__wrapper {
      padding: 50px 0px 0 0px;
      display: grid;
      grid-template-columns: repeat(1, 500px);
      justify-content: center;
    }
    &__column {
      margin-bottom: 50px;
    }
    .title_fz36 {
      font-size: 30px;
    }
  }
  .skills {
    &__stats {
      grid-template: repeat(2, 70px) / repeat(2, 300px);
    }
  }
  .contacts {
    padding-top: 70px;
    margin-left: 33px;
    &__photo img {
      display: none;
    }
    &__wrapper {
      grid-template-columns: 540px;
      justify-content: center;
    }
    &__text,
    &__social {
      margin-top: 16px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .promo {
    &__title {
      width: 300px;
      font-size: 26px;
      line-height: 36px;
    }
    &__subtitle {
      font-size: 16px;
    }
  }
  .review {
    padding-top: 40px;
    .title_fz18 {
      margin-bottom: 15px;
    }
    &__grid {
      grid-template: 340px auto auto / 1fr;
      gap: 35px 40px;
      &Elem {
        grid-template-columns: 60px auto;
        margin-bottom: 20px;
        &__img {
          position: relative;
          grid-row: 1 / 2;
          grid-column: 1 / 2;
        }
        &__info {
          display: grid;
        }
        &__about {
          grid-row: 2 / 3;
          grid-column: 1 / 2;
        }
        &__design {
          margin-bottom: 20px;
        }
      }
    }
  }
  .skills {
    &__intor-1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    &__intor-2 {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    &__intor-3 {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
    &__intor-4 {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
    }
    &__intor-5 {
      grid-column: 1 / 2;
      grid-row: 5 / 6;
    }
    &__intor-6 {
      grid-column: 1 / 2;
      grid-row: 6 / 7;
    }
    &__stats {
      grid-template: repeat(2, 70px) / repeat(1, 400px);
    }
  }
  .price {
    &__wrapper {
      margin-top: 52px;
      justify-content: space-around;
      grid-template-columns: repeat(auto-fit, 343px);
    }
  }
  .contacts {
    padding-top: 70px;
    margin-left: 33px;
    &__photo img {
      display: none;
    }
    &__wrapper {
      grid-template-columns: 480px;
      justify-content: center;
    }
    &__text,
    &__social {
      margin-top: 16px;
    }
    &__from {
      grid-template: 42px 148px 42px / repeat(2, 214px);
      gap: 20px 18px;
    }
    &__btn {
      font-size: 13px;
    }
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
  .promo {
    background: url("../img/Background.jpg") no-repeat 57% / cover;
    .btn {
      margin-top: 10px;
    }
  }
  .hamburger {
    right: 20px;
  }
  .review {
    .title_fz36 {
      font-size: 24px;
    }
    .title_fz18 {
      margin-bottom: 10px;
    }
    &__grid {
      grid-template: 340px auto auto / 1fr;

      &Elem {
        margin-right: 75px;
        margin-bottom: 35px;
        &__info {
          display: block;
        }
        &__about {
          grid-row: 2 / 3;
          grid-column: 1 / 2;
        }
      }
    }
  }
  .exp {
    padding-top: 40px;
    .title_fz36 {
      font-size: 24px;
      line-height: 29px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .title_fz18 {
      font-size: 16px;
    }
    &__wrapper {
      padding: 35px 0px 0 0px;
      display: grid;
      grid-template-columns: repeat(1, 360px);
      justify-content: center;
    }
    &__column {
      margin-bottom: 50px;
    }
  }
  .skills {
    margin-top: 35px;
    &__stats {
      grid-template: repeat(2, 70px) / repeat(1, 300px);
    }
    .title_fz36 {
      font-size: 24px;
      line-height: 29px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
  .portfolio {
    .title_fz36 {
      font-size: 24px;
      line-height: 29px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  .contacts {
    margin-left: 14px;
    padding-bottom: 70px;
    &__wrapper {
      grid-template-columns: 300px;
      justify-content: center;
    }
    &__text,
    &__social {
      margin-top: 14px;
    }
    &__from {
      grid-template: 42px 148px 42px / repeat(2, 214px);
      gap: 20px 18px;
    }
    .title_fz36 {
      font-size: 24px;
      line-height: 52px;
    }
    &__from {
      grid-template: 42px 42px 143px / repeat(1, 287px);
    }
    .input__name {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .input__email {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    &__textarea {
      grid-column: unset;
    }
    &__triggers {
      margin-top: -5px;
      display: grid;
      grid-column: unset;
      grid-template-columns: 219px;
      justify-content: center;
      grid-auto-rows: 42px;
      gap: 15px 18px;
    }
    &__policy {
      grid-row: 1 / 2;
      margin-left: 21px;
      justify-content: center;
    }
  }
  .price {
    padding-top: 70px;
    &__wrapper {
      margin-left: 25px;
      margin-top: 40px;
      justify-content: space-around;
      grid-template-columns: repeat(auto-fit, 270px);
    }
    &__descr {
      white-space: normal;
    }
  }
}
@media (max-width: 442px) {
  .review {
    &__grid {
      &Elem {
        margin-right: 37px;
      }
    }
  }
  .exp {
    &__wrapper {
      grid-template-columns: repeat(1, 300px);
    }
  }

  .divider {
    margin-top: 27px;
  }
}

// @media (max-width: 345px) {
//   .menu {
//     &__block {
//       width: 250px;
//       padding-left: 20px;
//     }
//     &__list {
//       margin-left: 39px;
//     }
//     &__link {
//       a:before {
//         left: -35px;
//       }
//     }
//   }
// }
